### Files to be ignored by Git ###

# IntelliJ IDEA
/*.ipr
/*.iws
/.idea
**/*.iml

# Eclipse
/.classpath
/.project
/.settings

# Mac
**/.DS_Store

# Custom
/temp
*.swp
.vagrant
envvars-vagrant

# Role specific
vars/mariadb_dump.yml
