---
mariadb_backupusers:
{% for item in mariadb_backupjobs %}
  - name: bu_{{ item.name }}
    pass: 'test'
    priv: "{% if item.databases|default('all') == 'all' %}'*.*:SELECT','SHOW VIEW',TRIGGER{% else %}{% for db in item.databases %}{{ db.name }}.*:SELECT,'SHOW VIEW',TRIGGER{% if not loop.last %},{% endif %}{% endfor %}{% endif %}"
{% endfor %}

mariadb_users_create: {% raw %}"{{ mariadb_users + mariadb_backupusers }}"{% endraw %}
