---
mariadb_backupusers:
{% for item in mariadb_backupjobs %}
  - name: bu_{{ item.name }}
    pass: {{ item.backupuserpass }}
    priv: "{% if item.databases|default('all') == 'all' %}'*.*:SELECT','SHOW VIEW',TRIGGER{% else %}{% for db in item.databases %}{{ db }}.*:SELECT,'SHOW VIEW',TRIGGER{% if not loop.last %}/{% endif %}{% endfor %}{% endif %}"
{% endfor %}

mariadb_roleinternal_backupjobs:
{% for item in mariadb_backupjobs %}
  - name: {{ item.name }}
    username: bu_{{ item.name }}
    pass: "{{ item.backupuserpass }}"
    databases: {{ item.databases|default('all') }}
    dayofweek: "{{ item.dayofweek|default('*') }}"
    hour: "{{ item.hour|default('4')}}"
    destinationdir: {{ item.destinationdir|default(mariadb_backup_defaultdestinationdir)}}
{% endfor %}

mariadb_users_create: {% raw %}"{{ mariadb_users + mariadb_backupusers }}"{% endraw %}
