#
# The mariadb database server configuration file.
#
[client]
port		= {{ mariadb_port }}
socket		= /var/run/mariadbd/mariadbd.sock

# This was formally known as [safe_mariadbd]. Both versions are currently parsed.
[mysqld_safe]
socket		= /var/run/mariadbd/mariadbd.sock
nice		= 0

[mysqld]
user		= mariadb
pid-file	= /var/run/mariadbd/mariadbd.pid
socket		= /var/run/mariadbd/mariadbd.sock
port		= {{ mariadb_port }}
basedir		= /usr
datadir		= /var/lib/mariadb
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mariadb
skip-external-locking

bind-address		= {{ mariadb_bind_address }}

key_buffer		= 16M
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size       = 8

query_cache_limit	= 1M
query_cache_size        = 16M
log_error = /var/log/mariadb/error.log
server-id               = {{ mariadb_db_id }}

{% if mariadb_repl_role == 'master' %}
log_bin                 = mariadb-bin
expire_logs_days        = 10
max_binlog_size         = 100M

{% if mariadb_db is iterable and mariadb_db is not string %}
{% for i in mariadb_db %}
{% if i.replicate|default(1) %}
binlog_do_db            = {{ i.name }}
{% endif %}
{% endfor %}

{% for i in mariadb_db %}
{% if not i.replicate|default(1) %}
binlog_ignore_db        = {{ i.name }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}

!includedir /etc/mariadb/conf.d/
